* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.welcome {
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    height: 80px;
}

.content {
    display: flex;
}

.vertical-radio {
    display: block;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
}

.form-group .material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.form-group .form-control {
    padding-left: 30px;
}

.modal-content {
    height: 80%;
}

.modal-body {
    overflow-y: auto; /* Allow the modal body to scroll if content exceeds the height */
}

.icon-container {
    display: flex;
    align-items: center;
}

.modal-dialog {
    width: 100%;
}

.form-container {
    width: 100%;
}