*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;

}
.welcome{
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    height: 80px;
   
}
.search-input {
    background-image: url('path/to/your/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px; /* Adjust this value according to the width of your icon */
}
.content{
    display: flex;
}
#task-container{
    background-color: aquamarine;
    width: 50%;
    height: 100vh;
}
#create-task-modal{
    width: 50%;
    height: 400px;
    background-color: blueviolet;
}
#blogs-section{
    /*float: right;*/
}