* {
    box-sizing: border-box;
}

body {
    width: 100%; 
    height: 100vh;
    margin: 0;
    background-color: rgba(195, 193, 249,0.2);
    color:white;
    
}

#main-page{
    display: flex;
    margin-top: 10px;
    

}

.navbar {
   /* overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: rgba(195, 193, 249,0.2);
  }
.welcome {
    font-size: 25px;
    font-weight: bolder;
   /* background-color: #c3c1f9;*/
    color: #c3c1f9;
    text-shadow: 1px 1px rgba(62, 53, 183, 0.3);  
}

.search-input {
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position:right 10px center;
    padding-right: 30px; /* Adjust this value according to the width of your icon */
    border-radius: 30px;
    background-size: 20px 20px;
    
}

/*task container starts here*/
.task-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    height: 100lvh;
    border: none;
    background: rgba(62, 53, 183, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255,0.4) ; 
   
}
.task-card {
    background-color:rgba(255, 255, 255,0.2);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    display: flex;
    background-color:rgba(165, 160, 243,0.5);
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}
.modal-title {
    text-align: center;
    font-weight: bold;
}
.modal-body label {
    font-weight: 500;
    margin-bottom: 10px;
}
.modal-body .vertical-radio {
    display: block;
    margin-bottom: 5px;
    padding-left: 30px;
    
}

.modal-body textarea,
.modal-body input {

    background-color: #9da1a521 ;
    padding: 6px;

}

.modal-body textarea:focus,
.modal-body input:focus {
    outline: none;
}

#task-form button.btn-primary {

    background-color: #008000;
    color: #ffff;
    width: 115px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
}
#task-form button.btn-danger {

    background-color: #ff0000;
    color: #ffff;
    width: 115px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.form-buttons{
    display: flex;
    text-align: center;
    justify-content: center;

}
.form-container .material-symbols-outlined {
    position: absolute;
    left: 20px;
    top: 83%;
    transform: translateY(-50%);
    color: #00000077;
}
#assigntext {
    padding-left: 30px;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
   
    
    
   
}

.side{
    margin: 20px;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    background-color:rgba(255, 255, 255,0.1) ;
    border: none;
    outline: none;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 20px rgba(62, 53, 183, 0.3) ; /* Glow effect */
   
}
.side.clicked {
    border:none;
    outline:none ; /* Remove border after the button has been clicked */
}
.side:active {
    outline:none ; /* Remove the outline when active */
}
.side:hover {
    box-shadow: 0 0 20px rgba(62, 53, 183, 0.3) ; /* Glow effect */
}
.delete-task {
    width: 25px;
    height: 25px;
   /* Adjust margin as needed to separate the button from the task text */
   
}
.progress-container {
    display: flex;
    justify-content: center;
    align-items: center/*flex-start*/;/*to align at top of div*/
    flex-direction: column;
    height: 100vh;
    width: 30%;
    

}

.progress-card-container{
    position: relative;
    margin: 20px;

}

.progress-card {
    background-image: linear-gradient(rgb(195, 193, 249),rgba(62, 53, 183,0.9));
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 30px 50px rgba(62, 53, 183,0.5); /* Default shadow */
    text-align: center;
    position: relative;
    margin-bottom: 20px; /* Add space between progress card and card list */
    overflow: hidden;
}
    .progress-card::after {
        content: '';
        position: absolute;
        bottom: -20px; /* Adjust the dimensions of the shadow */
        right: -20px; /* Adjust the dimensions of the shadow */
        width: calc(100% + 60px); /* Adjust the dimensions of the shadow */
        height: calc(100% + 60px); /* Adjust the dimensions of the shadow */
        background: linear-gradient(to bottom right, rgba(252, 249, 249, 0.4), rgba(62, 53, 183,0.5) /*rgba(231, 230, 230, 0)*/);
        border-radius: 10px;
        z-index: -1; /* Behind the card */
        filter: blur(20px);
      /*  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);*/
    }
    
  
.progress-circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.progress-circle .progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-circle .progress-ring__circle {
    stroke-dasharray: 314;
    stroke-dashoffset: calc(314 - (314 * var(--percentage)) / 100);
    transition: stroke-dashoffset 0.3s;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

/*.shadow-card {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 80px;
    height: 80px;
    width: 100%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 1;
    z-index: 0;
}*/
 .flip-card {
    background-color: transparent;
     width: 300px;
     border-radius: 10px;
    height: 200px;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    /*position: relative;*/
     width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  } 
  .flip-card-front{
    background-image: url(todolistimage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .flip-card-back{
    background-image:url(premium_photo-1664299968645-095a420293dc.avif) ;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
   
  /* Position the front and back side */
   .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
   
  /* Style the front side (fallback if image is missing) */
   .flip-card-front {
    background-color: #bbb;
    color: black;
  }
   
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 
 /* Width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(#c3c1f9,#3e35b7);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(62, 53, 183,0.1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#3e35b7;
  }
  